<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="cep">CEP*</label>
        <div class="input-group mb-2">
          <input type="text" formControlName="cep" class="form-control"
            [ngClass]="{ 'is-invalid': f.cep.errors && f.cep.touched }" placeholder="XXXXX-XXX" mask="00000-000" />
          <div class="input-group-append">
            <button (click)="searchCep()" class="btn btn-primary" type="button" id="btnBuscaCep" name="btnBuscaCep">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <div *ngIf="f.cep.errors && f.cep.touched" class="invalid-feedback">
          <div *ngIf="f.cep.errors.required">Este campo é obrigatório</div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="bairro">Bairro*</label>
        <input type="text" formControlName="bairro" class="form-control"
          [ngClass]="{ 'is-invalid': f.bairro.errors && f.bairro.touched }" placeholder="Bairro" />
        <div *ngIf="f.bairro.errors && f.bairro.touched" class="invalid-feedback">
          <div *ngIf="f.bairro.errors.required">Este campo é obrigatório</div>
        </div>
      </div>
      <div class="form-group col-md-2">
        <label for="cidade">Cidade*</label>
        <input type="text" formControlName="cidade" class="form-control"
          [ngClass]="{ 'is-invalid': f.cidade.errors && f.cidade.touched }" placeholder="Cidade" />
        <div *ngIf="f.cidade.errors && f.cidade.touched" class="invalid-feedback">
          <div *ngIf="f.cidade.errors.required">Este campo é obrigatório</div>
        </div>
      </div>
      <div class="form-group col-md-1">
        <label for="uf">UF*</label>
        <select id="uf" name="uf" class="form-control" formControlName="uf">
          <option value="" selected>-UF-</option>
          <option *ngFor="let uf of ufs" [ngValue]="uf.sigla">{{uf.sigla}}</option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="logradouro">Logradouro*</label>
        <input type="text" formControlName="logradouro" class="form-control"
          [ngClass]="{ 'is-invalid': f.logradouro.errors && f.logradouro.touched }" placeholder="Logradouro" />
        <div *ngIf="f.logradouro.errors && f.logradouro.touched" class="invalid-feedback">
          <div *ngIf="f.logradouro.errors.required">Este campo é obrigatório</div>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label for="complemento">Complemento</label>
        <input type="text" formControlName="complemento" class="form-control" placeholder="Complemento" />
      </div>
    </div>

    <p>Os campos com (*) são de preenchimento obrigatório</p>

    <button type="submit" class="btn btn-primary">Salvar</button>
    <button type="reset" class="btn btn-primary">Limpar</button>
    <button type="button" [routerLink]="toBack()" class="btn btn-primary">Voltar</button>
  </form>
</div>