<div *ngIf="invalid" class="alert alert-danger alert-dismissible fade show" role="alert">
  Login ou senha incorretos.
  <button (click)="close()" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div id="loginWrapper">
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="autenticar()">
      <div class="form-group">
        <label>Email</label>
        <input type="text" formControlName="email" class="form-control"
          [ngClass]="{ 'is-invalid': f.email.errors && f.email.touched }" />
        <div *ngIf="f.email.errors && f.email.touched" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email é obrigatório</div>
        </div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" formControlName="password" class="form-control"
          [ngClass]="{ 'is-invalid': f.password.errors && f.password.touched }" />
        <div *ngIf=" f.password.errors && f.password.touched" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Senha é obrigatória</div>
          <div *ngIf="f.password.errors.minlength">A senha deve conter pelo menos 6 caracteres</div>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <button class="btn btn-primary" type="submit"><i class="fa fa-sign"></i> Login</button>
        <button class="btn btn-primary ml-2" type="reset"><i class="fa fa-file"></i> Limpar</button>
      </div>
    </form>
  </div>
</div>
