<nav class="navbar navbar-expand-lg navbar-light bg-light">
     
    <ul class="navbar-nav">
      <li class="nav-item active" routerLink="/home">
        <a class="nav-link" >Home</a>
      </li>
      <li class="nav-item" routerLink="/address/list">
          <a class="nav-link" >Lista de endereços</a>
      </li>
      <li *appPermissionRoles="roles" class="nav-item" routerLink="/address">
          <a class="nav-link" >Cadastro de endereços</a>
      </li>
      <li  class="nav-item" routerLink="/addressss">
          <a class="nav-link" >Página que não existe</a>
      </li>
      
    </ul>
</nav>

