<div *ngIf="deleted" class="alert alert-success alert-dismissible fade show" role="alert">
  Registro deletado com sucesso.
  <button (click)="close()" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="container">
  <table class="table table-condensed table-bordered table-striped table-sm" show-filter="false">
    <tr>
      <th>
        CEP
      </th>
      <th>
        Bairro
      </th>
      <th>
        Cidade
      </th>
      <th>
        UF
      </th>
      <th>
        Ações
      </th>
    </tr>
    <tr *ngFor="let address of addressList ">
      <td class="text-center" title="'CEP'">{{address.cep | cepMask}}</td>
      <td class="text-center" title="'Bairro'">{{address.bairro}}</td>
      <td class="text-center" title="'Cidade'">{{address.cidade}}</td>
      <td class="text-center" title="'UF'">{{address.uf}}</td>
      <td class="text-center" title="'Ações'">
        <button routerLink="/address/detail/{{address.id}}" type="button" class="btn btn-primary btn-sm" title="Detalhar">
          <i class="fa fa-file"></i>
        </button>

        <button *appPermissionRoles="roles" routerLink="/address/edit/{{address.id}}" type="button" class="btn btn-primary btn-sm" title="Alterar">
          <i class="fa fa-pencil"></i>
        </button>

        <button *appPermissionRoles="roles" (click)="delete(address.id)" type="button" class="btn btn-danger btn-sm" title="Exlcuir">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </table>
</div>