
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>Url incorreta</h2>
                <div class="error-details">
                    Desculpe, mas essa página não existe!
                </div>
            </div>
        </div>
    </div>
</div>