<div class="container">

    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="cep">CEP</label>
            {{address.cep | cepMask}}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="bairro">Bairro</label>
            {{address.bairro}}
        </div>
        <div class="form-group col-md-2">
            <label for="cidade">Cidade</label>
            {{address.cidade}}
        </div>
        <div class="form-group col-md-1">
            <label for="uf">UF</label>
            {{address.uf}}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="logradouro">Logradouro</label>
            {{address.logradouro}}
        </div>
        <div class="form-group col-md-3">
            <label for="complemento">Complemento</label>
            {{address.complemento}}
        </div>
    </div>

    <button type="button" routerLink="/address/list" class="btn btn-primary">Voltar</button>
</div>