<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4">Bem Vindo</h1>
    <p class="lead">Este é um pequeno projeto CRUD de endereço.</p>
    <hr class="my-4">
    <div>
      <p>Para utilizar o sistema, faça o login de usuário.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" routerLink='/login' role="button"><i class="fas fa-sign-in-alt"></i> Login</a>
     
        <a *ngIf="isLogged" class="btn btn-primary btn-lg" (click)="logout()" role="button"><i class="fas fa-sign-in-alt"></i> Sair</a>
      </p>
    </div>
    <div *ngIf="isLogged">
      <p>Para utilizar o sistema, utlize as opções abaixo.</p>
      <p class="lead">
        <a *appPermissionRoles="roles" class="btn btn-primary btn-lg" routerLink="/address" role="button">
          <i class="fas fa-sign-in-alt"></i> Cadastro de endereço
        </a>

        <a class="btn btn-primary btn-lg" routerLink="/address/list" role="button">
          <i class="fas fa-sign-in-alt"></i> Listagem de endereço
        </a>
      </p>
    </div>
  </div>
</div>